
ul.list-of-sections {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}
ul.list-of-sections li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
}

.side_menu {
    border-style: solid;
    border-width: 1px;
    background-color: white;
    float: left;
    width: 13%;
    margin-left: 1%;
}

.product_block {
    border-style: solid;
    border-width: 1px;
    background-color: white;
    width: 78%;
    margin-left: 15%
}

.product_field {
    box-sizing: border-box;
    padding: 0px; /* внутренние поля вокруг */
    background: white;
    /*float:left;*/
    width:33.33%;
    border-style: solid;
    border-width: 1px;

}

.product_list{
    display: flex;
    flex-wrap: wrap;
}

.product_inside_field {
    background: white;
    /*   padding-left: 20%; */
    /*   padding-right: 20%; */
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%; /* займи сто процентов от родительского блока по высоте */
    box-sizing: border-box;
}


.headline {
    text-align: center;
}

.category_field{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.category_field:hover
{
    background-color: black;
}

.category_field:hover a.category_name
{
    text-decoration: none;
    color: white;
}


.price{
    color: red;
}

.error{
    color: red;
}


.view_product_information_block{
    border-style: solid;
    border-width: 1px;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.view_name_and_price_block{
    border-style: solid;
    border-width: 1px;
    float: left;
    width: 40%;
    box-sizing: border-box;
    background: white;
    padding: 50px;
    text-align: center;
}

.view_product_image{
    border-style: solid;
    border-width: 1px;
    float: left;
    width: 60%;
    box-sizing: border-box;
    background: white;
    padding: 20px;
    text-align: center;
}

.view_product_description{
    border-style: solid;
    border-width: 1px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    background: white;
    padding: 20px;
}

.view_price{
    padding-top: 5px;
    padding-bottom: 5px;
    color: red;
}

.view_name{
    padding-top: 5px;
    padding-bottom: 5px;
}

.product_photo{
    text-align: center;
    max-width: 50%;
}

.product_list_table{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

.view_product_table{
   margin-left: 30%;
   margin-right: 30%;
   width: 40%;
   text-align: left;
}

.parameter_list_table{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

.order_button{
    text-align: center;
}

.swiper-container{
    margin: 40px auto 20px auto;
    width: 60%;
}

.swiper-container .swiper-slide{
    text-align: center;
}

.swiper-container .swiper-slide .product_photo{
    max-width: 50% ;
    padding: 0;
}

a.product-name{
    text-decoration: none;
}

a.product-name:hover {
    color: red;
}

a.add-to-cart{
    text-decoration: none;
    color: #000;
    padding: 10px;
    display: inline-block;
}

a.add-to-cart:hover{
    text-decoration: none;
    color: white;
    background-color: black;
}

a.apply_filter{
    text-decoration: none;
    color: #000;
    padding: 10px;
    display: inline-block;
}

a.apply_filter:hover{
    text-decoration: none;
    color: white;
    background-color: black;
}

a.add-to-compare{
    text-decoration: none;
    color: #000;
    padding: 10px;
    display: inline-block;
}

a.add-to-compare:hover{
    text-decoration: none;
    color: white;
    background-color: black;
}

.remove_parameter{
    color:red;
    text-decoration:none;
}

.edit-category-name{
    text-decoration: none;
}

.edit-category-name:hover{
    text-decoration: underline;
    color: red;
}

a.load_existing_parameters_form, a.load_new_parameter_form, a.load_new_parameter_form_2{
    text-decoration: none;
    color: green;
    display: inline-block;
}

a.load_existing_parameters_form:hover, a.load_new_parameter_form:hover, a.load_new_parameter_form_2:hover{
    text-decoration: underline;
    color: red;
}

a.save_selected_existing_parameters_to_category, a.save_new_parameter_to_category, a.save_new_parameter,
a.hide_load_existing_parameters_form_button, a.hide_load_new_parameter_form_button, a.hide_load_new_parameter_form_button_2{
    color: #c9302c;
    text-decoration:none;
}

a{
    text-decoration: none;
}

a:visited{
    color: blue;
}

a.go-back-to-admin-panel{
    text-decoration: none;
    color: green;
    display: inline-block;
}

a.go-back-to-admin-panel:hover{
    text-decoration: underline;
    color: red;
}

.ui-accordion-header,
.ui-accordion-header-collapsed{
    background:none;
    border-radius: 0;
    border-color: gray;
    border: none;
    box-shadow:none;
    border-top: 1px solid lightgrey;
}

.ui-accordion-content{
    border: none;
}
.ui-accordion .ui-accordion-header{
    margin: 0;
}

.ui-accordion .ui-accordion-content {
    padding: 0px;
    padding-bottom: 10px;
}

:focus {
    outline:0 !important;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }


.ui-state-default a:link,
.ui-state-default a:visited{
    color: RoyalBlue;
}

.fa-trash-alt {
    color: darkred;
}

.fa-edit {
    color: green;
}

.fa-check-square{
    color: green;
}


ul.header_main_information_list li{
    display: inline;

}

ul.header_main_information_list{
    padding: 0px;
    display: flex;
    /*-webkit-box-pack: justify;*/
    /*-ms-flex-pack: justify;*/
    justify-content: space-around;
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
}

div.header_left_part{
    width: 20%;
    box-sizing: border-box;
    padding-left: 1%;
}

div.header_main_information{
    width: 28%;
    padding: 5px;
    box-sizing: border-box;
}

div.top-menu{
    padding: 10px;
}


div .header_search{
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid black;
}

.search_form{
    position: relative;
    width: 100%;
    margin: 0 auto;
}

div .header_search form {
    background: white;
}
div .header_search input, div .header_search button {
    border: none;
    outline: none;
    background: transparent;
}
div .header_search input {
    width: 100%;
    height: 30px;
    padding-left: 15px;
}
div .header_search button {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
div .header_search button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: black;
}

a.header_show_category_list{
    color: black;
    font-size: x-large;
}

a.header_show_category_list:hover{
    color: red;
    text-decoration: none;
}

a.header_go_to_homepage{
    color: black;
    font-size: x-large;
}

a.header_go_to_homepage:hover{
    color: red;
    text-decoration: none;
}



.header {
    position:-webkit-sticky;
    position:sticky;
    top:0;
    background-color: white;
    /*border-bottom: 1px solid black;*/
}



div.header_left_part ul li{
    display: inline;

}

div.header_left_part .topmenu{
    padding: 0px;
    display: flex;
    /*-webkit-box-pack: justify;*/
    /*-ms-flex-pack: justify;*/
    justify-content: space-around;
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
}







.header_left_part ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header_left_part .topmenu > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
.header_left_part .topmenu > li:last-child {
    margin-right: 0;
}
.header_left_part a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    outline: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}

.header_left_part .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}




.header_left_part ul {
    background: white;
}
.header_left_part .submenu {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    /*background: red;*/
}
.header_left_part ul li:hover .submenu {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}
.header_left_part ul a {
    color: black;
}







#footer-wrapper {
    /*background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/bg03.png"), url("images/bg02.png");*/
    /*background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/bg03.png"), url("images/bg02.png");*/
    /*background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/bg03.png"), url("images/bg02.png");*/
    /*background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/bg03.png"), url("images/bg02.png");*/
    position: relative;
    background-repeat: repeat-x, no-repeat, repeat;
    background-size: 100% 100%, 100% 15em, auto auto;
    background-position: top left, top center, top left;
    padding: 4em 0 1em 0;
    /*border: 1px solid grey;*/


}

#copyright {
    border-top: solid 1px;
    border-color: #444;
    border-color: rgba(255, 255, 255, 0.075);
    text-align: center;
    margin-top: 0;
    padding: 0 0 0 0;
    color: inherit;
}

#copyright a {
    color: inherit;
}



ul.footer_ul li{
    margin-left: 0;
    padding-left: 0;
}

ul.footer_ul{
    list-style-type: none;
}










html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer-wrapper {
    flex: 0 0 auto;
}


#footer-wrapper ul{
    margin: 0;
    padding: 0;
}

tags {
    border: 0;
}

tags div{
    display: none;
}

tags span.input{
    display: none;
}


.preview{
    width: 300px;
    border: 1px solid red;
}

.draggable {
    cursor: pointer;
}





